<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-expand bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="navbar-brand" href="/shows">Home / All Shows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/shows/new">Add a New Show</a>
                </li>
            </ul>
        </div>
        <div class="jumbotron">
            <h1>Add a New Show</h1>
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}            
                <form action="/shows/create" method="POST">
                    {% csrf_token %}
                    <p>Title: <input type="text" name="title" value="{{request.session.show.title}}"></p>
                    <p>Network: <input type="text" name="network" value="{{request.session.show.network}}"></p>
                    <p>Release Date: <input type="date" name="release_date" value="{{request.session.show.release_date}}"></p>
                    <p>Description:</p>
                    <textarea name="desc" rows="10" cols="30">{{request.session.show.desc}}</textarea> 
                    <p><button type="Submit">Create</button></p>
                </form>
        </div>
    </div>
</body>
</html>