<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-expand bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="navbar-brand" href="/shows">Home / All Shows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/shows/new">Add a New Show</a>
                </li>
            </ul>
        </div>
        <div class="jumbotron">
            <h1>{{ show.title }}</h1>
            <p>TV Show ID: {{ show.id}}</p>
            <p>Network: {{ show.network}} </p>
            <p>Release Date: {{ show.release_date }}</p>
            <p>Description:</p>
            <textarea rows="10" cols="75">{{show.desc}}</textarea> 
            <p>Last Updated: {{show.updated_at}}</p>
            <p><a href="/shows/{{show.id}}/edit">Edit</a>   <a href="/shows/{{show.id}}/destroy">Delete</a></p>
        </div>
    </div>
</body>
</html>